<app-header></app-header>
<br /><br />
<input type="text" placeholder="Enter new task" #task>
<br />
<br />
<button (click)="addTask(task.value)">Add Task</button>
<ul *ngFor="let item of list">
    <li>{{item.name}} <button (click)="removetast(item.id)">Remove</button></li>
</ul>
<!-- <button (click)="Toggle()">Toggle</button>

<h1 *ngIf="show">Heading</h1>
<br /><br />
<mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
<br /><br />
<!-- <h1>This is my first {{title}}</h1> -->
<!-- <app-blog></app-blog> -->
<!-- <app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-count></app-count>  -->
<app-login></app-login>
<!-- <button (click)="getData('Hello')">click</button>
<br />
<br />
<input type="text" #box (keyup)="getData(box.value)" placeholder="Function" name="" id="">
<br />
<br />
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="Function" name="" id="">
<br />
<br />
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="Function blur" name="" id="">
<br />
<br />
<input type="text" #box3 (input)="getData(box3.value)" placeholder="Function input" name="" id="">
<br /><br />
<h1 (mouseover)="getData('hovering')">Hover on it</h1>
<h1 (mouseleave)="getData('leave')">Hover on it</h1>
 <br /><br />
<input type="text" #box4 placeholder="Enter value" name="name" id="in">

<button (click)="getvalue(box4.value)">print</button>

<p>Input Box Value: {{display}}</p>

<button (click)="counter('minus')">--</button>
<p>countet : {{count}}</p>
<button (click)="counter('add')">++</button> -->

<h1>the return of hello</h1>